In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName('Capstone Task3').enableHiveSupport().getOrCreate()
spark

In [3]:
course_completion = spark.read.table("swarnacapstone.coursecompletion")

In [4]:
course_details = spark.read.table("swarnacapstone.coursedetails")

In [5]:
course_completion.count()

300

In [6]:
course_details.count()

30

In [7]:
course_completion.groupby('result').count()

+-------------+-----+
|       result|count|
+-------------+-----+
|Not Qualified|  149|
|    Qualified|  151|
+-------------+-----+

In [8]:
course_completion.where(course_completion['attendedstatus'] == 'Absent').count()

149

In [9]:
from pyspark.sql.functions import *

In [11]:
course_completion.select(max('marks').alias('MaxMarks'), min('marks').alias('MinMarks'), avg('marks').alias('AvgMarks'))

+--------+--------+------------------+
|MaxMarks|MinMarks|          AvgMarks|
+--------+--------+------------------+
|      92|       0|40.013333333333335|
+--------+--------+------------------+